@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #1E1E1E;
}

.react-flow__controls, .react-flow__controls-button{
  background-color: #181818 !important;
  color: #4A4A4A !important;
}
.react-flow__controls-button{
  border: 1px solid #4A4A4A !important;
}
.react-flow__controls-button svg path{
  fill: #4A4A4A !important;
}